<% content_for :buttons do %>
  <% if @active_filters&.any? %>
    <%= dropdown_button('Export', 'export', menu_options: { class: 'pull-right' }) do %>
      <% Publication::EXPORT_TYPES.each do |key,value| %>
        <li><%= image_tag_for_key(key.to_s, export_publications_path(format: key, filter: @filters), nil, nil, value[:name]) -%></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'general/index', locals: { faceted_browsing_enabled: false } %>
