name: docker push 

on:
  push:
    branches:
      - master
      - seek-1.10
jobs:
  build:
    
     runs-on: ubuntu-latest
     
     steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: seek-1.10
  
      - name: Build and push Docker images
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: sjha2048/compseek
          tags: latest
